* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(./bilder/NimbleEvergreenAmericangoldfinch-size_restricted.gif);
}
/*----------------------*/
.audio {
  text-align: center;
  margin-top: 15px;
}
/*----------------------*/
.select-game {
  font-family: "Goldman", cursive;
  margin-top: 5%;
  text-align: center;
  font-size: 45px;
  color: pink;
  padding-bottom: 80px;
}
/*----------------------*/
.wrapper {
  margin: 0 auto;
  max-width: 1100px;
}
/*----------------------*/
.navbar ul {
  display: flex;
  justify-content: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  margin-top: -80px;
  overflow: scroll;
  padding: 50px;
  gap: 10px;
}
/*----------------------*/

.navbar ul li img {
  width: 200px;
  height: 200px;
  border: 2px solid blue;
  cursor: pointer;
}
/*----------------------*/
.navbar ul li img:hover {
  width: 300px;
  height: 300px;
}
/*----------------------*/
@media screen and (max-width: 640px) {
  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .navbar ul li img {
    margin: 15px;
    width: 200px;
    height: 200px;
    overflow: none;
  }
}

/*-----*/
@media screen and (max-width: 1110px) {
}

/*----------------------*/

/* jag behöver hjälp med att centrera min navbar i media screen */
/* jag behöver hjälp med att få bort hovern på media screen */
